body{
  background-image: url('imagen132.jpg');
  padding-top: 100px;
  padding-bottom: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#seccion_inicio {
    background-image: url("carrusel6.jpg");
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.carousel-inner img {
    height: 570px!important;
    width: 100%!important;
}

.glyphicon-usd {
    font-size: 40px;
}

.glyphicon-heart {
    font-size: 40px;
}

.glyphicon-earphone {
    font-size: 40px;
}

.glyphicon-envelope {
    font-size: 40px;
}

.glyphicon-shopping-cart {
    font-size: 40px;
}


}

 #pagina {
    background: rgba(255, 255, 255, 0.4);
}

img{
    width: 150px;
    height: 150px;
}

#seccion_social{
      background: black;
  }

  #seccion_social ul {
      list-style-type: none;
      margin: 0;
  }

  #seccion_social ul li{
      display: inline;
  }
  #seccion_social ul li a{
      color:white;
  }

  #seccion_social ul li a:hover{
      text-decoration: none;
      color:white;
  }
  #seccion_social ul li a:hover i{
      background: #2D373D
  }

  #seccion_social .fa{
      border: 2px white solid;
      border-radius: 50%;
      font-size: 40px;
      padding: 10px 15px;
      margin: 20px
  }

.fa-child{
  border: 2px white solid;
  border-radius: 50%;
  font-size: 40px;
  padding: 10px 15px;
  margin: 20px
}

.fa-paw{
  border: 2px white solid;
  border-radius: 50%;
  font-size: 40px;
  padding: 10px 15px;
  margin: 20px
}

.fa-balance-scale{
  border: 2px white solid;
  border-radius: 50%;
  font-size: 40px;
  padding: 10px 15px;
  margin: 20px
}

.fa-dollar{
  border: 2px white solid;
  border-radius: 50%;
  font-size: 40px;
  padding: 10px 15px;
  margin: 20px
}

.fa-question-circle{
  border-radius: 50%;
  font-size: 40px;
}

.fa-book{
  border-radius: 50%;
  font-size: 40px;
}

#perro{
  padding: 50px;
  border: 50px;
  margin: 20px;
}


 #servicio {
    padding: 80px;
}

#titulo {
    padding: 10px;
    border: 1px;
    text-decoration: underline;
}

 #pagina {
    background: rgba(255, 255, 255, 0.4);
}

#servicio1 {
   padding: 80px;
}

#titulo2 {
   padding: 10px;
   border: 1px;
   text-decoration: underline;
}

#pagina1 {
   background: rgba(255, 255, 255, 0.4);
}

#parrafo{
  padding: 50px;
  border:50px;
}
